/* Estilo general para todas las imágenes */
img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* ¿Quiénes somos? */
.img-quienes {
    width: 80%;
    max-width: 600px;
    height: auto;
}

/* Imagen del plantel */
.img-plantel {
    width: 100%;
    max-width: 900px;
    height: auto;
}

/* Imagen de premios: debe destacarse, más grande */
.img-premios {
    width: 100%;
    max-width: 1000px;

}

/* Imagen de la rectora */
.img-rectora {
    width: 40%;
    max-width: 350px;
    height: auto;
}

/* Imagen relacionada a becas */
.img-becas {
    width: 80%;
    max-width: 650px;
    height: auto;
}

/* Imagen del footer */
.img-footer {
    width: 100%;
    max-width: 1000px;
    height: auto;
}
